<div class="row mt-3">
    <div class="col-md-12">
        <h2 >Welcome to the Hotel Reservation Portal! </h2>
    </div>

    <div class="row">
        <div class="col-sm-6 my-3">
            <button class="btn btn-primary my-3" [routerLink]="['/reservation-list']">View all reservation</button>
        </div>
        <div class="col-sm-6 my-3">
            <button class="btn btn-secondary my-3" [routerLink]="['/new-reservation']">Create new
                reservation</button>
        </div>
    </div>